<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chottu Chat</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="app">

    <div class="sidebar">

        <div class="profile">
            <img src="https://i.imgur.com/6VBx3io.png" alt="">
            <h3>Chottu Chat</h3>
        </div>

        <div class="search">
            <input type="text" placeholder="Search chat...">
        </div>

        <div class="chat-list">
            <div class="chat-item active">
                <img src="https://i.imgur.com/6VBx3io.png">
                <div>
                    <h4>Global Chat</h4>
                    <p>Everyone joins here</p>
                </div>
            </div>
        </div>

    </div>

    <div class="chat-area">

        <div class="chat-header">
            <img src="https://i.imgur.com/6VBx3io.png">
            <div>
                <h3>Global Chat</h3>
                <small>Online</small>
            </div>
        </div>

        <ul id="messages"></ul>

        <div class="chat-input">
            <input id="msg" placeholder="Type a message...">
            <button onclick="sendMsg()">➤</button>
        </div>

    </div>

</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
